.calculator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  border: 2px solid #ccc;
  border-radius: 8px;
  width: 300px;
  background-color: #f4f4f4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.calculator-display {
  padding: 10px;
  text-align: center;
  background-color: #eaeaea;
  border: 1px solid black;
}

.input-field {
  width: calc(100% - 20px);
  
  outline: none;
  font-size: 1.5em;
  margin: 0;
}

.result {
  align-self: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.2em;
  color: #555;
}

.button-grid {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 10px;
  gap: 2px;
}

.row {
  display: flex;
  
}

button {
  flex: 1;
  padding: 15px;
  font-size: 1.2em;
  border: none;
  background-color: #ddd;
  cursor: pointer;
  border: 1px solid gray;
  margin: 1px;
}

.clear-btn,
.operator-btn,
.equals-btn {
  background-color: #ff9900;
  color: #fff;
}

.zero-btn {
  flex: 2;
}

.dot-btn {
  flex: 1;
}

button:hover {
  background-color: #bbb;
}

button:active {
  background-color: #999;
}